In [18]:
#2) Salary_hike -> Build a prediction model for Salary_hike
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression as LR
import matplotlib.pyplot as plt

In [24]:
df = pd.read_csv('D:\Excel_R_DS\Assignments\Linear_Regression\Salary_Data.csv')

In [25]:
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [26]:
df.shape

(30, 2)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [28]:
df[df.duplicated()]

Empty DataFrame
Columns: [YearsExperience, Salary]
Index: []

In [29]:
df[df.isnull().any(axis=1)].head()

Empty DataFrame
Columns: [YearsExperience, Salary]
Index: []

In [31]:
X =  df.iloc[:,:1].values
y = df.iloc[:,1].values

In [32]:
model = LR()
model.fit(X,y)

LinearRegression()

In [33]:
model.predict([[1.0]])

array([35242.16252012])