In [21]:
#1) Delivery_time -> Predict delivery time using sorting time 
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression as LR
import matplotlib.pyplot as plt

In [22]:
df = pd.read_csv('D:\Excel_R_DS\Assignments\Linear_Regression\delivery_time.csv')

In [23]:
df.head()

   Delivery Time  Sorting Time
0          21.00            10
1          13.50             4
2          19.75             6
3          24.00             9
4          29.00            10

In [24]:
df.shape

(21, 2)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Delivery Time  21 non-null     float64
 1   Sorting Time   21 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 464.0 bytes

In [26]:
df[df.duplicated()].shape

(0, 2)

In [27]:
df[df.duplicated()]

Empty DataFrame
Columns: [Delivery Time, Sorting Time]
Index: []

In [29]:
df[df.isnull().any(axis=1)].head()

Empty DataFrame
Columns: [Delivery Time, Sorting Time]
Index: []

In [30]:
X =  df.iloc[:,:1].values
y = df.iloc[:,1].values

In [31]:
model = LR()
model.fit(X,y)

LinearRegression()

In [32]:
model.predict([[20.00]])

array([7.51819919])